/* Contact Form */
:root {
  --primary: slategray;
  --secondary: #eea47fff;
  --light: #ffffff;
}

.navbar {
  background-color: var(--primary);
}

.header-image {
  height: 50px;
  padding: 10px 0px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navitem {
  margin-right: 2rem;
  list-style: none;
}

.navitem a {
  text-decoration: none;
  color: var(--light);
}

.navitem a:hover {
  color: var(--secondary);
}

.navitem:first-child {
  margin-right: auto;
}

.centre-logo img {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.first-sentence {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.second-sentence {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 20px;
}

.content-container {
  display: flex;
  margin: 20px 20px;
  gap: 60px;
}

.sentence-section {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.sentence-section h2 {
  font-size: 40px;
}

.section-container {
  display: flex;
  gap: 100px;
  padding: 50px 70px;
}

.contactcontainer {
  padding: 40px;
  padding-left: 300px;
}
.address-details {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

.mail-details {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 40px;
}
.content .image {
  align-content: center;
  justify-content: center;
}
label {
  display: block;
  margin: 20px 0;
}

input,
textarea {
  width: 50%;
  padding: 10px;
  background: #c4cace;
  border: none;
}
.contactform {
  padding-left: 21%;
}
input .button {
  margin-top: 20px;
  width: 12%;
  max-width: 200px;
  background: linear-gradient(to right, RGB(112, 128, 144));
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}
.footercolour {
  background: slategrey;
  text-transform: none;
  height: 80px;
  padding: 10px 10px;
  display: flex;
  gap: 30px;
}

.footer-sentence {
  display: flex;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding-top: 20px;
  color: #ffffff;
}

.socialmedialogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.socialmedialogo img {
  height: 22px;
}

.bottom-logo {
  height: 50px;
  width: 40px;
  align-self: flex-start;
  margin-right: 40%;
  padding-left: 20px;
  padding-top: 10px;
}

.logowithsentence {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

/* The Modal (background) */
.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  text-align: center;
}

button {
  margin-top: 10px;
  border: none;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background: #c4cace;
  border-radius: 20px;
}

button:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.error {
  color: red;
}

.modal h2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.modal h3 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.modal p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .holding-container {
    flex-direction: column;
  }

  .logowithsentence {
    margin-left: -100px;
  }

  .imagewithsentence {
    margin-left: -100px;
  }

  .content-container {
    flex-direction: column;
  }
  .section-container {
    flex-direction: column;
    padding: 0px 20px;
    gap: 10px;
  }

  .image img {
    padding-left: 50px;
  }

  .secondimage img {
    padding-left: 50px;
    padding-top: 50px;
  }
  .sentence-section {
    padding-bottom: 50px;
  }

  .contactcontainer {
    padding-left: 50px;
  }

  .contactcontainer img {
    padding-left: 0px;
  }
  .second-sentence {
    padding-left: 12%;
  }
  .contactcontainer {
    padding-left: 22%;
  }
}
